<% if @posts.any?%>
  <% @posts.each do |post| %>
    <%= post.title %>
    <h2>Created by <%=User.find(post.user_id).email  %></h2>
    <%end%>
<%else%>
<h2>No posts yet</h2>
<%end%>

<%= link_to 'New Post', new_post_path %>